.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background: #000;
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 24px;
}

.sec01 {
  background-color: #e3e3e3;
  height: 1200px;
}

.sec02 {
  background-color: pink;
  height: 1200px;
}

.sec03 {
  background-color: rgba(59, 105, 255, 0.2);
  height: 1200px;
}

/* ===============================================
# to-top
=============================================== */
.to-top {
  cursor: pointer;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 5;
  text-align: center;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  display: flex;
}