.header {
  background-color: tomato;
  height: 70px;
}

h1 {
  color: #fff;
  font-size: 24px;
}

.sec01 {
  background-color: #e3e3e3;
  height: 1200px;
}

.sec02 {
  background-color: #3E3E3E;
  height: 1200px;
}

.sec03 {
  background-color: rgba(59, 105, 255, 0.2);
  height: 1200px;
}

/* ===============================================
# to-top
=============================================== */
.to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  z-index: 10;
}
[data-scroll=true] .to-top {
  display: block;
}
.to-top a:hover {
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}
.to-top a img {
  width: 48px;
}