@charset "utf-8";
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background: #000;
  color: #fff;
}

.header-nav {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-item {
  padding: 20px;
}

main {
  margin-top: 100px;
}

section {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}
section:first-of-type {
  background: rgb(253, 217, 217);
}
section:nth-of-type(2) {
  background: rgb(128, 251, 192);
}
section:nth-of-type(3) {
  background: rgb(226, 251, 128);
}
section:last-of-type {
  background: rgb(148, 130, 250);
}

.footer {
  height: 600px;
  background: rgb(103, 103, 103);
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toTop {
  cursor: pointer;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 5;
  text-align: center;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  display: none;
  transition: all 1s;
}
.toTop.is-show {
  display: flex;
}