@charset "utf-8";

/* ===============================================
# mixins
=============================================== */
// ブレークポイント
$layout-width-inner: 1200px;

$breakpoints: (
	'sp': "screen and (max-width: 767px)",
	'tab': "screen and (min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	'pc': "screen and (min-width: #{$layout-width-inner})"
)!default;


// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

body {
	font-size: 16px;
  color: #333;
  line-height: (24 / 16);
	background: beige;
	-webkit-text-size-adjust: 100%;
}

.header {
	background-color: tomato;
	height: 70px;
	width: 100%;
}

h1 {
	color: #fff;
	font-size: 24px;
}

.sec01 {
	background-color: #e3e3e3;;
	height: 1200px;
}

.sec02 {
	background-color: #3E3E3E;
	height: 1200px;
}

.sec03 {
	background-color: #3B69FF33;
	height: 1200px;
}



/* ===============================================
# to-top
=============================================== */
.to-top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	opacity: 0;
	visibility: hidden;
	z-index: 10;

	@include mq('sp') {
		right: 16px;
		bottom: 14px;
	}
	
	&.is-show {
		opacity: 1;
		visibility: visible;
	}
	
	a {

		&:hover {
			opacity: .7;
			transition: all .3s ease 0s;
		}

		img {
			width: 48px;
		}
	}
}
