@charset "utf-8";

.header {
	background-color: tomato;
	height: 70px;
}

h1 {
	color: #fff;
	font-size: 24px;
}

.sec01 {
	background-color: #e3e3e3;;
	height: 1200px;
}

.sec02 {
	background-color: pink;
	height: 1200px;
}

.sec03 {
	background-color: #3B69FF33;
	height: 1200px;
}



/* ===============================================
# to-top
=============================================== */
.to-top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	// opacity: 0;
	// visibility: hidden;
	z-index: 10;
	transition: all .3s ease 0s;
	
	// [data-scroll='true'] & {
	// 	opacity: 1;
	// 	visibility: visible;
	// }
	
	a {

		&:hover {
			opacity: .7;
		}

		img {
			width: 48px;
		}
	}
}
